/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@400;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --yellow: #f4ac3d;
  --grey: #fefae0;
  --green: #2c5f2d;
  --black: #161616;
  --red: #efefef;
  --sitefont: Roboto;
  --bold: bold;
  --normal: 500;
  --italic: italic;
  --form-range-track-bg: var(--green);
  --greytext: rgba(180, 187, 198, 1);
  --darkgrey: #707070;
  --yellow-light: rgba(244, 172, 61, 0.3);
  --white: #fff;
  --orange: #ff3d00;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--grey);
}

a {
  color: #000;
  text-decoration: none;
}

.flex_blogstatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.flex_status_one {
  width: 70%;
}
.flex_status_two {
  width: 30%;
}
.Camp-thumbnail {
  max-width: 200px;
}
.flex_status_one .mb-4 {
  margin-bottom: 0px !important;
}

.Add_morelnag_btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.Camp-thumbnail {
  max-width: 200px;
}
.Camp-thumbnail img {
  width: 100%;
}
.opacity-50 {
  opacity: 0.5;
}
select.select_procs_del {
  font-size: 16px !important;
  color: #000;
  font-weight: 400;
  border-radius: 10px;
  padding: 14px 5px;
  margin-right: 5px;
}
.country_adminmain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.country_adminone {
  width: 20%;
}
.country_adminone input {
  width: 100% !important;
  height: 60px !important;
  background-color: #fff !important;
}
.country_admintwo {
  width: 80%;
  margin-left: 10px;
}
.two_innerfieldscountry {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login_field {
  width: 75%;
}
.one_country2 {
  width: 25%;
}
.one_country2 input.form-control {
  background: #fff !important;
  border: none !important;
  width: 95px !important;
  height: 55px !important;
  outline: none !important;
}
.login_field input {
  width: 100%;
  background: #e8f0fe !important;
  border: none !important;
}
.login_field input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex_country_code {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_countryone {
  width: 20%;
}
.flex_countrytwo {
  width: 79%;
}
.flex_countryone input.form-control {
  width: 100% !important;
  height: 60px;
}
.btn-secondary {
  background: #283618;
  border: none;
  outline: 0;
  color: white;
  border-radius: 10px;
  padding: 13px 29px;
  white-space: nowrap;
}

.btn-secondary:hover {
  background: #283618;
  border: none;
  outline: 0;
  color: white;
  border-radius: 10px;
  padding: 13px 29px;
}

.bg-grey {
  background: var(--grey);
}

.bg-yellow-light {
  background: var(--yellow-light);
}

.bg-yellow {
  background: var(--yellow);
}

.bg-green-light {
  background: rgba(44, 95, 45, 0.3);
}

.ng-grey-light {
  background: rgba(112, 112, 112, 0.3);
}

.text-yellow {
  color: var(--yellow);
}

.text-green {
  color: var(--green);
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--black);
}

p {
  font-weight: 400;
  font-size: 16px;
}

h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.f-700 {
  font-weight: 700;
}

.text-dark {
  color: var(--black);
}

.text-dark-grey {
  color: var(--darkgrey);
}

.btn-primary {
  background: #283618;
  border: none;
  padding: 13px 30px;
  font-size: 16px;
  border-radius: 10px;
}

.btn-primary:hover {
  background: #283618;
}

.btn-danger {
  background: var(--orange);
  border: none;
  /* padding: 13px 30px; */
  font-size: 16px;
  /* border-radius: 10px; */
}

.btn-danger:hover {
  background: var(--orange);
}

input[type="text"],
input[type="search"],
input[type="date"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"] {
  background: var(--red) !important;
  border-radius: 10px !important;
  height: 55px;
  border: 1px solid rgba(112, 112, 112, 0.5) !important;
}
.MuiInputBase-root input {
  background: inherit !important;
  border-radius: inherit !important;
  height: auto !important;
  border: none !important;
}
/* label[data-shrink=false]+.MuiInputBase-formControl .css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input{
  background: #fff !important;
  border-radius: 10px !important;
  height: auto !important;
  border: none !important;
} */
.form-select {
  background-color: var(--red) !important;
  border-radius: 10px !important;
  height: 55px;
  border: 1px solid rgba(112, 112, 112, 0.5) !important;
}

.card.card-highlight input[type="text"] {
  background: transparent !important;
  border-radius: 10px !important;
  height: 55px;
  border: 1px solid var(--black) !important;
}

.card.card-highlight textarea {
  background: transparent !important;
  border-radius: 10px !important;

  border: 1px solid var(--black) !important;
}

.login input {
  height: 60px;
  border: 0px solid rgba(112, 112, 112, 0.5) !important;
}

.mt-50 {
  margin-top: 28%;
}

.max-7 {
  max-width: 90%;
}

.h-100 {
  height: 100vh !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#search-bar input {
  border: none;
  border-bottom: solid 1px rgba(112, 112, 112, 0.5) !important;
  border-radius: 0 !important;
  border-left: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  width: 100%;
  padding-left: 50px;
}

#search-bar input:focus {
  outline: none;
}

#search-bar i {
  position: absolute;
  left: 10px;
  top: 15px;
}

#search-bar {
  width: 70%;
  position: relative;
  padding-right: 30px;
}

.Right-content {
  padding-left: 400px;
  height: calc(100vh - 95px);
  overflow: auto;
}

.content-area {
  position: relative;
}

.main-content {
  background: #fff;
  padding: 40px 50px;
  width: 100%;
  min-height: calc(100% - 56px);
}

.sidebar {
  position: absolute;
  left: 0;
  width: 400px;
  padding: 20px 0px 20px 30px;
}

nav {
  height: calc(100vh - 209px);
  overflow: auto;
}

.profile figure {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.profile figure img {
  object-fit: cover;
  height: 100%;
}

.sidebar nav ul {
  margin: 0px;
  padding: 0px;
}

.sidebar nav ul li {
  list-style: none;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li.active {
  background-color: #efefef;
  /*border-right: solid 5px #f4ac3d;*/
  color: #283618;
}
.sidebar nav ul li.active a span {
  color: #283618;
}
.sidebar nav ul li.active a .side-bar-main-icon {
  color: #283618;
}
.sidebar nav ul li a:hover .side-bar-main-icon {
  color: #283618;
}
.sidebar nav ul li a:hover span {
  color: #283618;
}
.sidebar nav ul li.active a svg {
  stroke: #283618;
}

.sidebar nav ul li a:hover svg,
.sidebar nav ul li a.active svg {
  stroke: #283618;
}
.sidebar nav ul li.active a svg {
  fill: #283618;
}

.sidebar nav ul li a:hover svg,
.sidebar nav ul li a.active svg {
  fill: #283618;
}
.sidebar nav ul li.active a svg path {
  stroke: #283618;
}

.sidebar nav ul li a:hover svg path,
.sidebar nav ul li a.active svg path {
  stroke: #283618;
}

.sidebar nav ul li a {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 15px 10px;
  position: relative;
  border-right: solid 5px var(--grey);
}

.sidebar nav ul li a span {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  padding-left: 15px;
}

.sidebar nav ul li a.open i.ms-auto svg {
  transform: rotate(90deg);
}

.sidebar nav ul li a.close + ul {
  transition: all 0.3s ease-in-out;
  display: none;
}

.dropdown.options .dropdown-toggle::after {
  display: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #c4c4c4 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

.statics-icon {
  background: #fff;
  border-radius: 5px;
  padding: 6px;
}

.statics {
  margin: 0px;
  padding: 0px;
}

.statics li {
  list-style: none;
  display: flex;
  align-items: center;
}

.card {
  box-shadow: 0px 0px 20px rgba(76, 87, 125, 0.13);
  background: var(--white);
  border: none;
  border-radius: 0;
}

.card.card-highlight {
  box-shadow: 0px 0px 20px rgba(76, 87, 125, 0.5);
  background: var(--white);
  border: none;
  border-radius: 30px;
}

.Product-thumbnail {
  box-shadow: 0px 0px 20px rgba(76, 87, 125, 0.13);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  margin: 15px auto;
}

.Product-thumbnail img {
  /* object-fit: cover; */
  /* height: 100%; */
  width: 100%;
}

.Delete-image {
  position: absolute;
  right: -6px;
  top: -12px;
  cursor: pointer;
}

.btn-min-width {
  min-width: 170px;
}

.upload-box {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%238A8A8AFF' stroke-width='1' stroke-dasharray='4%2c 5' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-file {
  border: 1px solid var(--green);
  color: var(--green);
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.thumbs-img {
  margin: 0px;
  padding: 0px;
}

.thumbs-img li {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23BBBBBBFF' stroke-width='1' stroke-dasharray='4%2c 5' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 15px;
  border-radius: 10px;
  padding: 15px;
  margin-right: 20px;
  display: inline-block;
}

table th {
  color: rgba(150, 151, 153, 1);
  font-size: 14px;
  font-weight: 400;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: var(--grey);
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--grey) !important;
}

.table {
  --bs-table-border-color: var(--grey) !important;
}

.table {
  font-size: 16px;
  font-weight: 400;
}

.table th,
.table td {
  vertical-align: middle;
}

.table .product-img {
  width: 38px;
}

.table .status {
  border-radius: 100px;
  width: 120px;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
}
.star.filled {
  color: #f4ac3d;
}
.star.empty {
  color: #333333;
}
.table .status.published,
.table .status.approved,
.table .status.active {
  background: #e3ffe4;
  color: rgba(52, 198, 54, 1);
  padding: 5px 10px;
}

.table .status.pending {
  background: rgba(211, 220, 255, 1);
  color: rgba(45, 81, 253, 1);
  padding: 5px 10px;
}

.table .status.reject,
.table .status.deleted,
.table .status.inactive {
  background: rgba(242, 191, 170, 1);
  color: rgba(255, 61, 0, 1);
  padding: 5px 10px;
}
.table .status.rejected,
.table .status.inactive {
  background: rgba(242, 191, 170, 1);
  color: rgba(255, 61, 0, 1);
  padding: 5px 10px;
}

.table .status.Inprogress {
  background: rgba(155, 139, 113, 0.3);
  color: rgba(255, 76, 0, 1);
  padding: 5px 10px;
}

.table select.actions {
  background-color: rgba(244, 172, 61, 0.5) !important;
  color: rgba(112, 112, 112, 1) !important;
  border-radius: 100px !important;
  border: none !important;
  width: auto;
  height: auto;
}

.table td .form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
  margin-top: 9px;
}

.form-check-input {
  border: 1px solid rgb(0 0 0);
}

.img-circle {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  object-fit: cover;
  object-position: top;
}

.text-bg-success {
  color: rgba(44, 95, 45, 1) !important;
  background-color: rgba(161, 179, 161, 0.5) !important;
  font-size: 16px;
  font-weight: 400;
  border-radius: 100px;
  padding: 5px 14px;
}

footer {
  background-color: #283618;
  display: flex;
  align-items: center;
}

footer p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

/* .table th {
  font-family: 'Raleway', sans-serif;
}
.table td {
  font-family: 'Raleway', sans-serif;
} */

.table-header {
  background: var(--grey);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 30px 20px;
}

.table-header select {
  height: 50px !important;
  background-color: #fff !important;
  border: none !important;
}

.table-search {
  position: relative;
}

.table-search i {
  position: absolute;
  left: 15px;
  top: 15px;
}

.table-search input {
  border: none !important;
  background: #fff !important;
  padding-left: 40px;
  width: 300px;
}

.table-search input:focus {
  outline: none;
  border: none;
}

.table thead th:first-child,
.table tbody td:first-child {
  padding-left: 40px;
}

.table.product-detail thead th:first-child,
.table.product-detail tbody td:first-child {
  padding-left: 10px;
}

.table thead th:last-child,
.table tbody td:last-child {
  padding-right: 40px;
}

ul.pagination {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

ul.pagination li {
  display: inline-block;
  padding: 5px;
}

ul.pagination li a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: rgba(112, 112, 112, 0.5);
  font-size: 18px;
  text-decoration: none;
  border: solid 1px rgba(112, 112, 112, 0.5);
}

ul.pagination li:hover a {
  background: var(--green);
  color: #fff;
  border: solid 1px var(--green);
}

ul.pagination li.active a {
  background: var(--green);
  color: #fff;
  border: solid 1px var(--green);
}

table.table-bordered {
  border: 1px solid #b9b9b9;
  margin-top: 0px;
}

table.table-bordered > thead > tr > th {
  border: 1px solid #b9b9b9;
}

table.table-bordered > tbody > tr > td {
  border: 1px solid #b9b9b9;
}

table.table-bordered th {
  background-color: rgba(0, 0, 0, 0.06);
  color: rgba(22, 22, 22, 1);
}

table.tf-12 th,
table.tf-12 td {
  font-size: 12px;
}

span.thumb-img {
  width: 100%;
  height: 250px;
  display: inline-flex;
  border-radius: 5px;
  overflow: hidden;
}

span.thumb-img img {
  object-fit: cover;
  width: 100%;

  object-position: top;
}

/*Checkbox*/
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 11px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(112, 112, 112, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: solid 1px rgba(112, 112, 112, 0.5);
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: -5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: -7px;
  border: solid 2px rgba(112, 112, 112, 0.5);
}

input:checked + .slider {
  background-color: #ffffff;
  border: solid 1px var(--green);
}

input:checked + .slider:before {
  background-color: var(--green);

  border: solid 2px var(--green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.MyprofileBanner {
  /* background: url(../public/assets/img/profile-bg.jpg) no-repeat; */
  background-color: #283618;
  background-size: cover;
  /* height: 331px; */
}

.profile-info {
  display: flex;
  align-items: center;
  padding: 50px 50px 50px 70px;
}

.profile-info figure {
  width: 110px;
  height: 110px;
  border-radius: 100px;
  border: solid 5px #fff;
  display: flex;
  overflow: hidden;
  margin-right: 15px;
}

table.InfoTable th {
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  color: #000;
  width: 300px;
}

table.InfoTable td {
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  color: #000;
}

.mw-240 {
  min-width: 240px;
}

.btn-warning {
  background: var(--yellow);
  color: var(--white);
  font-size: 16px;
}

figure.img-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

figure.img-circle img {
  object-fit: cover;
  height: 100%;
}

ul.notifications {
  margin: 0px;
  padding: 0px;
}

ul.notifications li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  border-bottom: solid 1px #efefef;
  padding-bottom: 10px;
}

.blogImage img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.blogImage {
  border-radius: 16px;
  overflow: hidden;
  height: 250px;
}
.nothing {
  text-align: center;
  background-color: #dfdfdf;
  border: 1px solid rgb(223, 57, 28);
  padding: 10px;
  margin-top: 15px;
}

.caption {
  padding: 30px 30px 0px 30px;
}
.blog_actions {
  padding: 5px 30px 20px 30px;
  text-align: right;
}
.blog_actions a {
  margin-right: 10px;
}
.caption h5 {
  font-size: 18px;
  min-height: 45px;
}
.statics h4 {
  font-size: 20px;
}

.caption h6 {
  font-size: 12px;
  min-height: 25px;
}

.blogList {
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
}
.status_pub {
  position: absolute;
  background: #244e25;
  color: #fff;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 14px;
  top: 10px;
  left: 10px;
}
.status_pen {
  position: absolute;
  background: rgb(211, 53, 25);
  color: #fff;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: 14px;
  top: 10px;
  left: 10px;
}

.mh-200 {
  min-height: 200;
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.form-switch .form-check-input:checked {
  background-color: var(--green);
  border: var(--green);
}

.preview img {
  object-fit: contain;
}

.data_not_found {
  margin: 0px;
  color: #bf1212;
  font-size: 18px;
  text-align: center;
}
ul.img-thumb {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

ul.img-thumb li {
  list-style: none;
  width: 100px;
  height: 100px;
  display: inline-block;
}

ul.img-thumb li img {
  object-fit: cover;
  margin: 10px 20px;
  width: 100%;
}

.start-active svg {
  fill: #ffad0f;
}
.star {
  font-size: 18px;
}
.start-inactive svg {
  fill: #d9d9d9;
}

figure.rounded-img {
  overflow: hidden;
  border-radius: 100px;
  height: 70px;
  width: 70px;
}

figure.rounded-img img {
  object-fit: cover;
  object-position: top;
  height: 100%;
}

button.btn-delete {
  border: navajowhite;
  background: transparent;
  border-radius: 3px;
  padding: 5px 10px;
  margin-top: 40px;
}
.review_img {
  height: 300px;
  width: 100%;
  object-fit: contain;
}
button.btn-delete svg {
  fill: #ed0000;
}

.colorPalate {
  width: 100px;
}

button.btn-add {
  border: none;
  background: #358702;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

button.btn-add svg {
  fill: #fff;
}
.sml_mainSection {
  background: #f6f5fa;
  width: 100%;
  border-radius: 30px;
  margin-top: 25px;
  padding: 80px 70px;
  max-width: 90%;
  margin: auto;
}
.sml_mainSection .int_field {
  margin: 35px auto;
}
.sml_mainSection .int_field label {
  color: #000;
  margin-bottom: 7px;
}
.sml_mainSection .int_field input {
  width: 100%;
  background: #fff !important;
  border-radius: 10px !important;
  padding: 10px;
  outline: none;
  border: none !important;
}
.sml_mainSection .int_field input::placeholder {
  color: rgba(112, 112, 112, 0.5);
}
.sml_mainSection .submit_field #save {
  background: #2c5f2d;
  padding: 12px 45px;
  color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-top: 50px;
}
.main_logo {
  width: 120px;
}

.order-detail-title h3 {
  font-size: 22px;
}
.address-tag {
  background: #244e25;
  color: var(--white);
  padding: 2px 10px;
  display: table;
  border-radius: 6px;
  margin-bottom: 10px;
}
.order-detail-title h4 {
  font-size: 20px;
}
.form-check-input:checked {
  background-color: #244e25;
  border-color: #244e25;
}
.forgot {
  color: #244e25;
  display: block;
}
.logo_forgot {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo_forgot img {
  width: 190px;
}
.pop {
  box-shadow: 0px 24px 44px 8px rgb(0 0 0 / 25%);
  padding: 21px 23px;
  min-width: 343px;
}

.phone-number {
  max-width: 292px;
}
.pop input {
  padding: 12px 18px;
  border: 0;
  background: var(--white);
  outline: 0;
  border-radius: 5px !important;
  width: 100% !important;
  height: 40px;
}
.bg-yellow {
  background: #f4ac3d;
}
.btn-primary {
  background: #283618;
  font-size: 16px !important;
  color: #fff;
  font-weight: 400;
  border-radius: 10px;
  padding: 14px 16px;
  border: none;
}
.one_country {
  width: 40%;
}
.one_country input {
  max-width: 100% !important;
}
.send-otp {
  color: #244e25;
}
.popup_outer {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 999;
}
.popup_inner {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  min-width: 500px;
  position: relative;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #283618 !important;
}
.rdtPicker td.rdtToday:before {
  border-bottom: 7px solid #283618 !important;
}
.popup_inner i.fa-times {
  position: absolute;
  color: rgb(197, 67, 44);
  right: 25px;
  top: 25px;
  font-size: 22px;
  cursor: pointer;
}
.popup_inner h2 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 25px;
}
.popup_inner i.fa-calendar-alt {
  position: absolute;
  right: 15px;
  top: 18px;
  z-index: 99;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1400px) {
  .sidebar {
    width: 340px;
  }

  .Right-content {
    padding-left: 340px;
  }

  .main-content {
    padding: 40px 10px;
  }

  .blogImage {
    height: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .blogImage {
    height: 150px;
  }
}

.pr {
  position: relative !important;
}

.pr.password-wrap input {
  width: 100%;
}

.pr.password-wrap svg {
  position: absolute;
  top: 50px;
  z-index: 99999999999999;
  right: 10px;
  width: 20px;
  cursor: pointer;
}

.hp_title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hp_title h2 {
  font-size: 52px;
  font-weight: 700;
}
.hp_head {
  text-align: center;
  margin-top: 80px;
}
.hp_quick {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.hp_inner {
  text-align: center;
  /* width: 20%; */
  margin: 0px 10px;
}
.hp_inner button {
  background: #283618;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 12px 25px;
  min-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hp_inner button i {
  margin-left: 10px;
}
p {
  line-height: 22px;
}
.block-action-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.status-button-div {
  text-align: start;
  /* width: 50%; */
}
.action-div {
  /* width: 50%; */
  display: flex;
  align-items: center;
}

.blogList img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.Myprofile-img img {
  width: 100%;
  /* height: 100px; */
  object-fit: cover;
}

video.video-post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.add-video-post-admin {
  object-fit: cover;
}
.cross-video-icon {
  top: 10px;
  right: 0px;
  position: absolute;
  font-size: 25px;
  cursor: pointer;
}
.video-remove {
  position: relative;
}
.new_blog_one {
  display: flex;
}
.blog_actions p {
  margin: 0px !important;
}
.youtubeLink-sec {
  position: relative;
}
.cross-link-icon {
  position: absolute;
  top: 16px;
  right: 3px;
  font-size: 25px;
  cursor: pointer;
}
.video-container video {
  width: 100%;
}
.description-sec {
  margin-top: 10px;
}

.side-bar-main-icon {
  font-size: 18px;
  color: #dda15e;
}

button.btn-todo-list-key {
  margin: 10px 0px 0px 0px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
}
ul.todo-list-keyword {
  list-style: none;
  margin-top: 10px;
  padding: 0px 0px 0px 10px;
}
.todo-list-keyword li {
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.icon-cross-todo {
  margin-left: 10px;
}
.eye-icon {
  color: #283618;
}

.top-flex-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label-field-email {
  width: 100%;
}
.label-field-email input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid lightgrey;
}
.texteditior-sec-email {
  width: 100%;
}
.botton-btn-eamil {
  text-align: center;
  margin: 15px 0px;
}

.status-sec-form input {
  padding: 5px 5px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 40px;
  width: 100%;
}

.status-sec-form option:hover {
  background-color: #283618;
}
.main-sec-bottom-btn {
  text-align: center;
}
.label-field-sec {
  margin-bottom: 20px;
}
.main-sec-scholar {
  margin: 30px 0px 20px 0px;
}
.inner-sec-scholar {
  display: flex;
}
.left-side-inner-scholar {
  width: 38%;
  margin-right: 2%;
}
.right-side-inner-scholar {
  width: 58%;
  margin-left: 2%;
}
.bottom-btn-sec-scholar {
  text-align: center;
}
.top-bar-heading {
  width: 100%;
}
.commentsAll {
  max-height: 200px;
  overflow-y: scroll;
  padding-right: 20px;
}
.commentsInnerSec {
  padding: 15px 15px 10px 15px;
  border-bottom: 1px solid #dfdfdf;
}
.commentsInnerSec p {
  font-size: 14px;
}
